@import 'svelte-material-ui/bare.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mdc-theme-primary: #429f84;
    --mdc-theme-secondary: #285d4f;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-error: #d93025;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    background-attachment: fixed;
    color: rgb(var(--foreground-rgb));
    min-height: 100%;
}

main {
    height: 100vh;
}

.after\:bg-gradient-conic::after {
    content: var(--tw-content);
    background-image: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

.fill-white {
    fill: white;
}

button:focus,
a:focus {
    outline: none;
}

text {
    font-family: 'Nunito', sans-serif !important;
    font-size: 10px;
}

.bg-mistyrose {
    background-color: mistyrose;
}

.outline-none-important {
    outline: none !important;
    border-color: transparent !important;
    outline-offset: 0px !important;
    box-shadow: none !important;
}

.container.svelte-4lwi8h {
    max-width: 100vw;
}

input,
select,
textarea {
    width: 100%;
}

[type='checkbox']:not(.mdc-switch__native-control) {
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid #757575;
    border-radius: 2px;
}

[type='checkbox']:not(.mdc-switch__native-control):hover {
    cursor: pointer;
}

[type='checkbox']:not(.mdc-switch__native-control):hover:before {
    content: '';
    background: #52525214;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    right: 0;
    transition: all 0.4s ease-in;
    opacity: 1;
}

[type='checkbox']:not(.mdc-switch__native-control):focus {
    outline: none;
    box-shadow: none;
}

fieldset {
    min-width: auto;
}

fieldset[disabled] input,
fieldset[disabled] textarea,
fieldset[disabled] select {
    background: transparent;
    border: 0;
    box-shadow: none;
    padding: 0;
}

fieldset[disabled] .selectContainer {
    background: transparent !important;
    height: auto !important;
    border: 0 !important;
    padding: 0 !important;
}

fieldset[disabled] .clearSelect,
fieldset[disabled] .listContainer,
fieldset[disabled] .label-required {
    display: none;
    opacity: 0;
}

fieldset[disabled] .selection {
    white-space: pre-line !important;
}

fieldset[disabled] .selectedItem {
    line-height: 1.7 !important;
    height: auto !important;
}

.listContainer .listItem .item {
    font-size: 14px;
}

.mdc-dialog {
    z-index: 9999;
}

.mdc-switch__native-control {
    width: 64px !important;
    height: 48px !important;
}

.btn-spinner,
.btn-spinner:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.btn-spinner {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.2em solid white;
    border-right: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-left: 0.2em solid transparent;
    transform: translateZ(0);
    animation: spinning 1s infinite linear;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.welcome-wallpaper {
    background-image: url(/images/welcome-wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.mdc-notched-outline--notched .mdc-notched-outline__notch {
    border-right: 0px;
    border-left: 0px;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: #d5d5d5;
}

.mdc-text-field--outlined:not(.mdc-text-field--invalid):not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--invalid):not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--invalid):not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: #000;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: var(--mdc-theme-error, #d93025);
}

.mdc-text-field--focused.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-error, #d93025);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

input[type='date'],
select {
    border-radius: 4px;
    border: 1px solid #dbdbdb;
}

fieldset[disabled] .bg-white.mdc-text-field.mdc-text-field--label-floating {
    background: transparent !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #429f84;
}

th.th-actions {
    width: 150px;
}

.paragraph-ellipsis {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.w-breadcrumb-ellipsis {
    max-width: 450px;
}

.default-select {
    border: 1px solid #dbdbdb;
    height: 56px;
    padding: 0 10px;
}

.selectContainer.disabled,
.mdc-text-field--disabled .mdc-text-field__input,
.mdc-text-field--disabled {
    background: transparent !important;
    color: #000 !important;
}

.first-letter-uppercase:first-letter,
.selectContainer .selection:first-letter {
    display: inherit !important;
    text-transform: uppercase;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.evaluacion-select .selectedItem {
    line-height: 1.4 !important;
    height: auto !important;
    overflow-x: auto !important;
}
.evaluacion-select .selection {
    white-space: unset !important;
}

.evaluacion-select-multi .multiSelectItem {
    height: auto !important;
}

.evaluacion-select-multi .multiSelectItem_label {
    white-space: unset !important;
}

.tagify div {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e6e6e6;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #e6e6e6;
}

::-webkit-scrollbar-thumb {
    background-color: #aeaeae;
    border-radius: 10px;
}

[role='tooltip'][data-popper-placement^='top'] > [data-popper-arrow] {
    bottom: -4px;
}

[role='tooltip'][data-popper-placement^='bottom'] > [data-popper-arrow] {
    top: -4px;
}

[role='tooltip'][data-popper-placement^='left'] > [data-popper-arrow] {
    right: -4px;
}

[role='tooltip'][data-popper-placement^='right'] > [data-popper-arrow] {
    left: -4px;
}

.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
}

.main:before {
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
    position: absolute;
    content: '';
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
}

.gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    max-width: 640px;
    background-image: radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 0%), radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%), radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%), radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%), radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%), radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
}
